# CODEOWNERS file
# These owners will be automatically requested for review when someone opens a PR.
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners - will be requested for review on all PRs
* @jwesleye @unseriousai
